* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(./images/space-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: 'Orbitron', sans-serif;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

header h1 {
    margin: 0 30px;
    padding: 30px 0 20px 0;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 3px solid #9793EB;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-card {
    width: 230px;
    height: 420px;
    background-color: rgba(195, 185, 255, 0.5);
    border-radius: 20px;
    color: #2C0E34;
}

.player-content {
    padding: 0 20px;
}

.avatar-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 20px 0;
}

.avatar-img-container .arrow {
    object-fit: cover;
    width: 30px;
    height: 30px;
}

.avatar-img-container .left-arrow {
    transform: rotate(90deg);
}

.avatar-img-container .right-arrow {
    transform: rotate(-90deg);
}

.avatar-img-frame {
    width: 130px;
    height: 130px;
    background-color: #FFFFFF;
    border: 4px solid #2C0E34;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-img-frame img {
    width: 80px;
}

.player-card h3 {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

.player-card h4 {
    text-align: center;
    border-bottom: 2px solid #2C0E34;
    padding-bottom: 20px;
    margin: 0;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.score {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
 }

 .player-card h5 {
    text-align: center;
    margin: 0;
    padding: 10px 0 15px 0;
    font-size: 18px;
 }

.player-score {
    width: 85%;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 4px solid #2C0E34;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-score span {
    font-weight: 800;
    font-size: 25px;
    color: #2C0E34
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-prompt {
    height: 50px;
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2C0E34;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 6px;
    background-color: #2C0E34;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    padding: 6px;
    margin: 20px 0 30px 0;
}

.tile {
    background-color: #9793EB;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart-reset {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restart-button, .reset-score-button {
    height: 50px;
    width: 185px;
    background-color: #9793EB;
    border: 4px solid #2C0E34;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 0;
}

.restart-reset span {
    font-size: 15px;
    font-weight: bold;
}

.restart-icon, .reset-icon {
    width: 30px;
    margin-right: 5px;
}

.reset-icon {
    width: 25px;
}

/* POINTER */
.tile, .restart-button, .reset-score-button, .arrow {
    cursor: pointer;
}

/* HOVER STATES */
.tile:hover {
    background-color: #c3c0ff;
}

.clicked:hover {
    background-color: #9793EB;
}

.restart-button:hover, .reset-score-button:hover {
    background-color: #c3c0ff;
}

/* GAMEPLAY */
.x-piece {
    width: 70px;
}

.o-piece {
    width: 80px;
}

.winner {
    background-color: #aff3ff;
}
